* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  background: #faf8ef;
  color: #776e65;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

button {
  background: #8f7a66;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: var(--animation-duration) ease-in-out all;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 0.8;
  }
}

.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.1rem;
}

.header {
  padding: 2rem 0;
  font-size: 1.1rem;

  .account-info {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button {
      margin-left: 5px;
    }
  }

  &-buttons {
    min-width: max-content;
  }

  &-scores {
    display: flex;
    margin: 0.2em 0 1em auto;

    &-score {
      position: relative;
      background: #bbada0;
      padding: 1px 25px;
      border-radius: 6px;
      font-weight: bold;
      text-align: center;
      margin-left: 5px;
      min-width: 120px;

      div:first-child {
        color: #eee4da;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-top: 5px;
      }

      div:nth-child(2) {
        color: white;
        margin-top: -5px;
        font-size: 1.6rem;
      }

      &-increase {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.6rem;
        opacity: 0;
        animation: score-increase 0.3s ease-in-out;
      }
    }
  }
}

.info {
  line-height: 1.65;
  color: #776e65;
  font-weight: 500;

  a {
    color: #776e65;
    font-weight: bold;
  }
}

.size-picker {
  display: flex;
  margin: 0 -5px;

  button {
    flex: 1;
    margin: 0 5px;
  }
}

.powerup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  border: 5px solid rgba(#4e44ce, 0.25);
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  padding: 0.5em;

  .challenge-earned {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #4e44ce;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
  }

  &.active {
    border: 5px solid #4e44ce;
    background-color: rgba(#4e44ce, 0.1);
    opacity: 1;

    img {
      filter: none;
    }
  }

  &.locked {
    border-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.02);
    // opacity: 0.4;
    cursor: not-allowed;
    img {
      filter: blur(3px) saturate(0.5);
      opacity: 0.4;
    }
  }

  img {
    display: flex;
    height: 100px;
    border-radius: 3px;
    margin-bottom: 0.5em;
  }
}

.board {
  position: relative;
  background: #bbada0;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-gap: var(--grid-gap);
  padding: var(--grid-gap);
  user-select: none;
  touch-action: none;

  &.red {
    // filter: hue-rotate(310deg) saturate(1.5);
    .board-tile {
      .board-tile-2 {
        background: #efdbdb;
      }

      .board-tile-4 {
        background: #f1cdca;
      }

      .board-tile-8 {
        background: #f7837d;
      }

      .board-tile-16 {
        background: #f96e67;
      }

      .board-tile-32 {
        background: #f76861;
      }

      .board-tile-64 {
        background: #f7463d;
      }

      .board-tile-128 {
        background: #f7817b;
      }

      .board-tile-256 {
        background: #f8746d;
      }

      .board-tile-512 {
        background: #f8665f;
      }

      .board-tile-1024 {
        background: #f95952;
      }

      .board-tile-2048 {
        background: #f94e46;
      }
    }
  }
  &.green {
    // filter: hue-rotate(90deg) saturate(1.5);
    .board-tile {
      .board-tile-2 {
        background: #d1ecd9;
      }

      .board-tile-4 {
        background: #b4eed0;
      }

      .board-tile-8 {
        background: #00df6b;
      }

      .board-tile-16 {
        background: #00ce25;
      }

      .board-tile-32 {
        background: #00ba00;
      }

      .board-tile-64 {
        background: #00ac00;
      }

      .board-tile-128 {
        background: #00fba3;
      }

      .board-tile-256 {
        background: #00fd99;
      }

      .board-tile-512 {
        background: #00fd90;
      }

      .board-tile-1024 {
        background: #00ff86;
      }

      .board-tile-2048 {
        background: #00ff81;
      }
    }
  }
  &.blue {
    // filter: hue-rotate(180deg) saturate(1.5);

    .board-tile {
      .board-tile-2 {
        background: #d8e7f5;
      }

      .board-tile-4 {
        background: #cee3ff;
      }

      .board-tile-8 {
        background: #5bc8ff;
      }

      .board-tile-16 {
        background: #00beff;
      }

      .board-tile-32 {
        background: #00b6e1;
      }

      .board-tile-64 {
        background: #00a7db;
      }

      .board-tile-128 {
        background: #a1d0ff;
      }

      .board-tile-256 {
        background: #99cdff;
      }

      .board-tile-512 {
        background: #90c9ff;
      }

      .board-tile-1024 {
        background: #86c8ff;
      }

      .board-tile-2048 {
        background: #81c5ff;
      }
    }
  }

  &-tile {
    position: relative;
    border-radius: 3px;
    padding-bottom: 100%;
    background: #cdc1b4;
    line-height: 0;
    font-size: 1.6rem;

    &-value {
      background: #3c3a32;
      color: #f9f6f2;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      border-radius: 3px;
      z-index: 9;
    }

    &-new {
      animation: tile-new var(--animation-duration) ease-in-out;
    }

    &-merge {
      animation: tile-merge var(--animation-duration) ease-in-out;
    }

    &-2 {
      background: #eee4da;
      color: #776e65;
      font-size: 1.7em;
    }

    &-4 {
      background: #ede0c8;
      color: #776e65;
      font-size: 1.7em;
    }

    &-8 {
      background: #f2b179;
      font-size: 1.7em;
    }

    &-16 {
      background: #f59563;
      font-size: 1.7em;
    }

    &-32 {
      background: #f67c5f;
      font-size: 1.7em;
    }

    &-64 {
      background: #f65e3b;
      font-size: 1.7em;
    }

    &-128 {
      background: #edcf72;
      font-size: 1.3em;
    }

    &-256 {
      background: #edcc61;
      font-size: 1.3em;
    }

    &-512 {
      background: #edc850;
      font-size: 1.3em;
    }

    &-1024 {
      background: #edc53f;
    }

    &-2048 {
      background: #edc22e;
    }
  }

  &.board-5,
  &.board-6 {
    .board-tile {
      font-size: 1.1rem;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(238, 228, 218, 0.73);
  animation: reveal 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;

  &.hide {
    opacity: 0;
    z-index: -1;
  }

  .overlay-capture {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
    z-index: 1000;
  }

  .overlay-card {
    background: #fafafa;
    padding: 2em 3em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 1001;

    .overlay-center {
      display: flex;
      flex-direction: column;
    }

    .logo {
      width: 100px;
      margin: 0 auto 1em auto;
    }

    input {
      background: #fff;
      border: 1px solid #ccc;
      font-size: 20px;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      border-radius: 8px;
      color: #333;
    }

    .divisor {
      margin: 20px 0 40px 0;
      border-bottom: 1px solid #ddd;
      color: #aaa;
      text-align: center;
      span {
        position: relative;
        // font-size: 18px;
        bottom: -10px;
        background: #fafafa;
        padding: 0 1em;
      }
    }

    .wallet-adapter-dropdown {
      display: flex;
    }
    .wallet-adapter-button {
      display: flex;
      justify-content: center !important;
      flex-grow: 1;
    }
    .wallet-adapter-dropdown-list {
      z-index: 1000;
    }
  }

  .flip-box {
    img {
      margin-bottom: 1em;
      height: 100px;
    }
  }

  &-defeat {
    background-color: rgba(238, 228, 218, 0.73);
  }

  &-victory {
    background-color: rgba(237, 194, 46, 0.5);
    color: #f9f6f2;
  }

  &-prize {
    background-color: rgba(#4e44ce, 0.5);
    color: #f9f6f2;
  }

  &-buttons {
    button {
      margin: 0 5px;
    }
  }

  h1 {
    margin-bottom: 0.5em;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tile-new {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tile-merge {
  0% {
    transform: scale(0.7);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes score-increase {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}

@media screen and (min-width: 610px) {
  .board {
    &-tile {
      font-size: 2rem;
    }

    &.board-5,
    &.board-6 {
      .board-tile {
        font-size: 1.5rem;
      }
    }
  }
}

.flip-box {
  background-color: transparent;
  width: 178px;
  height: 250px;
  // border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box.flipped .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #333;
  color: rgba(255, 255, 255, 0.3);
  font-size: 150px;
  border-radius: 8px;
}

.flip-box-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.flip-box-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@keyframes down-front {
  0% {
    transform: translateY(-1000px) scale(0.75);
    opacity: 0.2;
  }

  70% {
    transform: translateY(0px) scale(0.75);
    opacity: 0.65;
  }

  80% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  30% {
    transform: scale3d(1, 1, 1);
  }

  35% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -4deg);
  }
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -4deg);
  }
  46% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 4deg);
  }
  52% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -4deg);
  }
  58% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 4deg);
  }
  64% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  70%,
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.animate-card {
  animation: down-front 1.5s ease-in-out, shake 4s ease-in-out 1.5s infinite;
}
